:root {
  --font-size: 62.5%;
  --bg-color: #2b2d42;
  --btn-color: #2d6a4f;
  --btn-hover-color: #265c44;
  --bg-card-caption-color: rgba(0, 0, 0, 0.75);
  --light-color: white;
  --transition-time: 0.25s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--bg-color);
}
